*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: serif;
}
.header-main-footer-defaults{
  padding: 5px;
  padding-top: 10px;
}
header{
  background: #544E7A; /*565473, alt colour #544E7A or 68668C*/
  color: #FFFFFF;
  display: flex; 
  align-items: center;
  justify-content: space-evenly;

}
.header-logo{
  display: inline-block;
  align-items: center;
  
}
.nav-list{
  list-style: none; 
  display: inline-block;
}

