*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: serif;
}
header{
  background: ;
  display: flex; 
  align-items: center;
  justify-content: space-evenly;
}
.nav-list{
  list-style: none; display: inline-block;
}